


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<h1>Hola</h1>
<div class="d-flex">
  <app-dado></app-dado>
  <app-dado></app-dado>
  <app-dado></app-dado>
</div>
<div>
  <app-calc></app-calc>
</div>
<p>Bienvenido al proyecto {{nombre}} {{apellido}}</p>
<p>Tu salario es de: {{salario}} €</p>
<p>{{isActive()}}</p>
<router-outlet></router-outlet>
